
.separador{
    padding-top: 10rem;
    padding-left: 5rem;
}

.distanciador{
padding-top: 100px;
}

.presentacion {
    font-size: 4rem;
    color: #333333;
    padding-left: 20px;
    padding-right: 20px;
}

.nombre {
    font-size: 7rem;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}


.titulo1 {
    font-size: 5rem;
    padding-bottom: 1rem;
}

.titulo2 {
    padding-bottom: 1rem;
    font-size: 3rem;
}

.perfil{
    width: 20rem;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border: solid 5px black;
}


.tecno{
    max-width: 150px;
    max-height: 110px;
    padding: 1em;
}

.img-boton{
    max-width: 2em;
}

.carrusel{
    max-width: 60em;
    margin: auto;
}

.img-carrusel{
    max-width: 60em;
}

.contenedor-parrafo{
    padding-top: 1em;
    padding-left: 10em;
    font-size: 1.2em;
}